#fstrow{
    background-image: url('https://midias.correio24horas.com.br/2024/04/24/bk-2084246-article.jpg');
    background-size: cover;

    height: auto;
    width: auto;
}

#fstrow img{
    height: 700px;
    width: auto;
}

iframe{
    position: absolute;
    top: 10rem;
    left: 6rem;
    width: 30rem;
    height: 20rem;
}
