<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap" rel="stylesheet">

    

<div id="fstrow" class="text-center">
    <img class="rounded position-relative" src="https://midias.correio24horas.com.br/2024/04/24/bk-2084246-article.jpg" alt="">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/artist/1YOVBTvznjiDvtAj4ExHeo?utm_source=generator&theme=0" 
        frameBorder="0" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture" loading="lazy">
    </iframe>

    <h1>ABEBE BIKILA - BK'</h1>
</div>
