*{
    background-color: #20658d;
}
#container{
    
    width: auto;
    height: 6rem;
    font-family:  sans-serif;
    font-style: normal;
    font-size: 1.8rem;
    font-weight: 400;
    
    
}

#container *{
    color: beige;
    margin-bottom: 0;
}

#thrdcol img{
  height: 42.19px;
  width: auto;
}

li{
    height: auto;
    width: auto;
}

#menu{
    margin: 20px;
    margin-bottom: 0;
}