<div id="container" class="p-0 row font-monospace">
    <div class="mt-0 row col-lg-6 d-flex align-items-center" >
        <ul class="navbar-nav nav-pills  list-group-horizontal ">
            <li class="col-lg-2 text-center "> 
                <a class="link-underline link-underline-opacity-0 align-middle" href="/"> HOME</a></li>
            <li class="col-lg-2 text-center"> 
                <a class="link-underline link-underline-opacity-0" href="/albums" > ALBUMS</a></li>
            <li class="col-lg-2 text-center"> 
                <a class="link-underline link-underline-opacity-0" href="/historia"> HISTORIA</a></li>
        </ul>
    </div>
</div>