<div id="corpo" class="p-1 row font-monospace p-0 ">
    <div class="col-lg-3"></div>
    <div class="mt-0 row col-lg-6 d-flex " >
        <ul id="menu"class="navbar-nav nav-pills  list-group-horizontal text-lg-center p-0 ">
            <div class="col-lg-1"></div>
            <div  class="col-lg-3">
                <li class="list-group-item col-lg-2 text-center"> 
                    <a class="link-underline link-underline-opacity-0 align-middle m-3" href="/albums" > ALBUMS</a></li>
               
            </div>
            
            <div  class="col-lg-3">
                <li class=" list-group-item  text-center "> 
                    <a class=" link-underline link-underline-opacity-0 align-middle m-3" href="/"> HOME</a></li>  

            </div>
            <div class="col-lg-1"></div>
            <div  class="col-lg-3">
                <li class="list-group-item col-lg-2 text-center"> 
                    <a class="link-underline link-underline-opacity-0 align-middle m-3" href="/historia"> HISTORIA</a></li>
            </div>
            <div class="col-lg-1"></div>
        </ul>

    </div>
    <div id="thrdcol" class="col-lg-3 d-flex">
        <img src="/src/insta.png" alt=" insta">
    </div>
</div>